.svg-logo {
    display: flex;
    flex-basis: 5%;
    flex-wrap: wrap;
    order: 0;
}
.toolbar-title {
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    order: 1;
}
.title-span {
    font-family: aliens;
    font-size: 4.0rem;
    font-weight: normal;
    //transform: translateX(17%);
    animation: 1s ease-out 0s 1 slideInFromTop; //slideInFromLeft;
}
.spacer {
    display: flex;
    flex-basis: 10%;
    flex-wrap: wrap;
    order: 2;
}
.toolbar-icons {
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    order: 2;
    justify-content: flex-end;
}
.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    order: 0;
    height: 10vh;
    margin: 0%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.toolbar-logo {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    order: 0;
    height: 10vh;
    opacity: 1 !important;
    animation: 1s ease-out 0s 1 slideInFromLeft; //slideInFromTop; //disapparateLogo; //slideInFromTop;
}
svg#rocket {
    width: 130px;
    position: absolute;
    left: -10px;
    top: 0px;
    display: none;
}
#Ellipse_8{
    transform: translate(7%, 11%); //translate(10px, 12px);
    fill: transparent;
    animation: 2s ease-out 0s 1 slideInFromTopCircle;
}
.router-container {
    margin-top: 10vh;
    height: 90vh;
}