<style>
  @font-face {
    font-family: "cyberfunk";
    src: url("assets/fonts/Cyberfunk.ttf");
  }
  @font-face {
    font-family: "aliens";
    src: url("assets/fonts/AliensAndCows-Orz6.ttf");
  }
  @font-face {
    font-family: "chopsic";
    src: url("assets/fonts/Chopsic-K6Dp.ttf");
  }
  @font-face {
    font-family: "rocketrinder";
    src: url("assets/fonts/RocketRinder-yV5d.ttf");
  }
  @font-face {
    font-family: "stars";
    src: url("assets/fonts/Stars.ttf");
  }
  @font-face {
    font-family: "beautymountain";
    src: url("assets/fonts/BeautyMountainsPersonalUse-od7z.ttf");
  }
  @font-face {
    font-family: "quitemagical";
    src: url("assets/fonts/Quite Magical - TTF.ttf");
  }
  @font-face {
    font-family: "fabulous";
    src: url("assets/fonts/FabulousPersonalUse-v7ZO.ttf");
  }
  @font-face {
    font-family: "fabulous254";
    src: url("assets/fonts/FabulousOutlinePersonalUse-254K.ttf");
  }
  @font-face {
    font-family: "starella";
    src: url("assets/fonts/StarellaScriptPersonalUse-BZrB.ttf");
  }
  @font-face {
    font-family: "painter";
    src: url("assets/fonts/Painter-LxXg.ttf");
  }
  @font-face {
    font-family: "lemonade";
    src: url("assets/fonts/lemonade.ttf");
  }
  @font-face {
    font-family: "stripedfont";
    src: url("assets/fonts/Striped Font.ttf");
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideInFromTopCircle {
    0% {
      transform: translate(-100%, -100%);
    }
    100% {
      transform: translate(7%, 11%);
    }
  }
  @keyframes disapparateLogo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
<!-- Header -->
<div class="main-container">
  <div class="toolbar" role="navigation">
    <div id="svglogo" class="svg-logo">
      <img class="toolbar-logo" alt="Studio Logo" src="assets/images/logo.png" style="opacity: 0;"/>
    </div>
    <div class="toolbar-title">
      <span class="title-span">Little Boy & Fat Man Studio</span>
    </div>
    <div class="spacer"></div>
    <div class="toolbar-icons">
      <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
        <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-2 {
                fill: #ffffff;
              }
            </style>
          </defs>
          <rect class="cls-1" width="400" height="400" />
          <path class="cls-2" d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="router-container" role="main">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-container" role="navigation">
    <app-lfs-footer></app-lfs-footer>
  </div>
</div>



