<style>
@keyframes rotateLogo {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes reverseRotateLogo {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
@keyframes transformLogo {
    0% {
      width: 20vw; /*50%;*/
    }
    100% {
      width: 30vw; /*100%;*/
    }
}
@keyframes reverseTransformLogo {
    0% {
      width: 30vw; /*100%;*/
    }
    100% {
      width: 20vw; /*50%;*/
    }
}
</style>
<div class="home-container" role="main">
    <div class="filmmaking-container">
        <h2 class="logo-font">Digital Filmmaking</h2>
        <img class="fm-image" src="assets/images/filmmaking.jpg" alt="Filmmaking related works" routerLink="/littleboyfatman/home" routerLinkActive="active">
    </div>
    <div class="photography-container">
        <h2 class="logo-font">UrbanCandids Photogrpahy</h2>
        <img class="fm-image" src="assets/images/photography.jpg" alt="Filmmaking related works" routerLink="/urbancandids/home" routerLinkActive="active">  
    </div>
</div>