.home-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    transform: translateY(30%);
    height: 50vh;
}
.photography-container, .filmmaking-container {
    flex-basis: 50%;
    text-align: center;
}
.fm-image {
    border-radius: 50%;
    animation: reverseRotateLogo 1s ease-out 0s 1, reverseTransformLogo 1s ease-out 0s 1;
    width:  50%;
}
.fm-image:hover {
    width: 100%;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    animation: rotateLogo 1s ease-out 0s 1, transformLogo 1s ease-out 0s 1;
    cursor: pointer;
}
.logo-font {
    font-family: stripedfont;
    font-size: 3rem;
    font-weight: normal;
    color: white;
    /*background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}