.shoppingCartContent {
    border: 1px solid rgb(58, 58, 58);
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
}
.topBarContent {
    background-color: #1976d2;
    color: white;
    align-items: center;
}
.bottomContent {
    padding: 2%;
}