.productListShareBtn {
    background-color: #1976d2;
    color: white;
    border-color: #1976d2;
    padding: 1%;
    border-radius: 4px;
    font-weight: bold;
    width: 10%;
    cursor: pointer;
}