<style>
    @keyframes transformLogo {
        0% {
            transform: scale3d(1, 1, 1);
        }
        100% {
            transform: scale3d(1.4, 1.4, 1.4);
        }
    }
    @keyframes reverseTransformLogo {
        0% {
            transform: scale3d(1.4, 1.4, 1.4);
        }
        100% {
            transform: scale3d(1, 1, 1);
        }
    }
    @keyframes transformZIndex {
        0% {
            z-index: 0;
        }
        100% {
            z-index: 1;
        }
    }
    @keyframes reverseZIndex {
        0% {
            z-index: 1;
        }
        100% {
            z-index: 0;
        }
    }
</style>
<div class="lbfm-home-container" role="main">
    <div class="row-container">
        <h2 class="rowHeader">
            Top {{movieData.length}} IMDB Rated Movies
        </h2>
        <div class="home-movie-container">
            <div *ngFor="let movie of movieData" class="loop-div">
                <div class="card movie-card" [ngStyle]="setImageStyle(movie)">
                    <div class="card-head"> 
                        <!--<img class="card-img-top" src="" alt="Card image cap">-->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <span class="card-rating">
                            <div *ngFor="let star of starData">
                                <i class="fa fa-star" aria-hidden="true" *ngIf="star==='full'"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true" *ngIf="star==='half'"></i>
                                <i class="fa fa-star-o" aria-hidden="true" *ngIf="star==='zero'"></i>
                            </div>
                        </span>
                        <!--<span class="card-btn">
                            <a href="#" class="btn btn-primary">Check out more</a> 
                        </span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
