.productListShareBtn {
    background-color: #1976d2;
    color: white;
    border-color: #1976d2;
    padding: 2%;
    border-radius: 4px;
    font-weight: bold;
    width: 80px;
    cursor: pointer;
}