.shipping-item {
    padding: 2%;
    background-color: #fafafa;
    margin: 1%;
    border-radius: 4px;
    border: 1px solid #eee;
    width: 50%;
}
.spanB {
    float: right;
    font-weight: bold;
}
.spanA {
    font-weight: bold;
}